nav,
ul {
  display: flex;
  justify-content: space-arround;
  align-items: center;
  list-style: none;
  padding: 10px;

  li {
    padding: 10px;
    font-weight: bold;

    a {
      text-decoration: none;
    }
  }
}
p {
  text-align: center;
}
