h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.categorie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.voir {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ajout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .card {
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .boutons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
